standby_mode = 'on'
primary_conninfo = 'host={{ hostvars[groups['pgmaster'][0]]['ansible_default_ipv4']['address'] }} port=5432 user={{ postgresql_streaming_user.name }} password={{ postgresql_streaming_user.pass }}'
trigger_file = '/var/lib/postgresql/{{ postgresql_version }}/main/failover'
